{% load staticfiles %}

<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script src = "{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
        <!--<script src = "{% static 'js/gmaps.js' %}"></script>-->
        <script>
            var map;
            var initMap = function() {
              console.log("Map Initialized")
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 37.773972, lng: -122.431297},
                zoom: 8
              });
            }
        </script>
        <script src = "{% static 'js/list_filter.js' %}"></script>
        <link rel="stylesheet" type="text/css" href= "{% static 'css/gmap.css' %}">
        <link rel="stylesheet" type="text/css" href= "{% static 'css/easy-autocomplete.min.css' %}">
        <link rel="stylesheet" type="text/css" href= "{% static 'css/easy-autocomplete.themes.min.css' %}">
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1LmAPLKwVX9wLtB9sAoUrR6MTgCbAqoU&callback=initMap&libraries=places"></script>


        <script>
            window.onload = function(){
                $("#basics").easyAutocomplete(options);
            }
        </script>

    </head>
    <body>
        Search Movies in SF!
        <input id="basics" />
        <div id="map"></div>
    </body>

</html>
