{% load staticfiles %}

<html>
    <body>
        Search Movies in SF!
        <input id="search_movie" />
        <div id="map"></div>
    </body>
    <footer>
        <link rel="stylesheet" type="text/css" href= "{% static 'css/gmaps/gmap.css' %}">
        <link rel="stylesheet" type="text/css" href= "{% static 'css/libs/autocomplete/easy-autocomplete.min.css' %}">
        <link rel="stylesheet" type="text/css" href= "{% static 'css/libs/autocomplete/easy-autocomplete.themes.min.css' %}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script src = "{% static 'js/libs/autocomplete/jquery.easy-autocomplete.min.js' %}"></script>
        <script src = "{% static 'js/gmaps/gmaps.js' %}"></script>
        <script src = "{% static 'js/filter/list_filter.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1LmAPLKwVX9wLtB9sAoUrR6MTgCbAqoU&callback=initMap&libraries=places"></script>
        <script src = "{%static 'js/init.js' %}"></script>
    </footer>

</html>
